*{
   font-family: Arial, Helvetica, sans-serif;
}
h1{
    border: white dashed 5px;
    margin: 30px 0px;
    padding: 30px;
    text-align: center;

}

#tamanho-tenis{
    color: rgb(155, 14, 14);
    font-weight: bold;
}

.tamanho-camisa{
    color: rgb(155, 14, 14);
    font-weight: bold;
}

footer{
    background-color: gray;
    color:  white;
    padding: 15px;
}